.ui-widget-content,
.ui-widget-header,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  border: 0;
  background: none;
}

.ui-state-default img, .ui-widget-content .ui-state-default img, .ui-widget-header .ui-state-default img {
  padding-top: 0;
  width: 50px;
}

.ui-state-active img, .ui-widget-content .ui-state-active img, .ui-widget-header .ui-state-active img {
  padding-top: 0;
  width: 64px;
}

#tabs ul{
  margin-bottom: 0px;
  height: 105px;
}

#tabs ul li a{
  padding: 0;
}

#tabs .sf_admin_form_row{
  position: relative;
}


#authenticated #sf_admin_container .sf_admin_form_field_facebook_page,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_send_button,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_layout_style,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_width,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_show_face,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_verb_to_display,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_color_scheme,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_like_font,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_title,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_type,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_url,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_image,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_sitename,
#authenticated #sf_admin_container .sf_admin_form_field_facebook_description,

#authenticated #sf_admin_container .sf_admin_form_field_twitter_account,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_follow_request,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_request,

#authenticated #sf_admin_container .sf_admin_form_field_google_page_link,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_size,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_note,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_url,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_type,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_title,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_url_image,
#authenticated #sf_admin_container .sf_admin_form_field_google_plus_description
{ padding-left: 50px; }

#authenticated #sf_admin_container .sf_admin_form_field_twitter_data_show_screen_name,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_data_show_count,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_follow_data_size,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_follow_lang,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_url_request,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_text_request,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_show_count,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_data_size,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_lang,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_recommended,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_hashtag
{ padding-left: 100px; }


#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_url,
#authenticated #sf_admin_container .sf_admin_form_field_twitter_tweet_text
{ padding-left: 150px; }

/* FACEBOOK */
/*
select#settings_facebook_request{ left: 250px; }
select#settings_facebook_like{ left: 390px; }

select#settings_facebook_like_send_button{ left: 250px; }
select#settings_facebook_like_layout_style{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_like_width{ left: 250px; width:863px;  width:187px;}
select#settings_facebook_like_show_face{ left: 250px; }
select#settings_facebook_like_verb_to_display{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_like_other_verb_to_display{ left: 250px; width:863px;  width:187px;}
select#settings_facebook_like_color_scheme{ left: 250px; }
select#settings_facebook_like_font{ left: 250px; }

select#settings_facebook_share{ left: 470px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_title{ left: 173px; width:485px; }
select#settings_facebook_type{ left: 173px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_url{ left: 173px; width:485px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_image{ left: 388px; width:270px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_sitename{ left: 230px; width:428px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_description{ left: 280px; width:378px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_page{ left: 223px; width:188px; }
*/

/* TWITTER */
/*select#settings_twitter_request{ left: 235px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_account{ left: 173px; width:250px; }
select#settings_twitter_follow_request{ left: 388px; }
select#settings_twitter_tweet_request{ left: 388px; }

select#settings_twitter_data_show_screen_name{ left: 250px; }
select#settings_twitter_data_show_count{ left: 250px; }
select#settings_twitter_follow_data_size{ left: 250px; }
select#settings_twitter_follow_lang{ left: 250px; }

select#settings_twitter_tweet_url_request{ left: 250px; }
select#settings_twitter_tweet_text_request{ left: 250px; }
select#settings_twitter_show_count{ left: 250px; }
select#settings_twitter_tweet_data_size{ left: 250px; }
select#settings_twitter_tweet_lang{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_recommended{ left: 250px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_hashtag{ left: 250px; width:188px; }

#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_url{ left: 250px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_text{ left: 250px; width:188px; }
*/

/* GOOGLE */
/*
select#settings_google_request{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_page_link{ left: 250px; width:188px; }

select#settings_google_plus_request{ left: 350px; }
select#settings_google_plus_size{ left: 130px; }
select#settings_google_plus_note{ left: 130px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_url{ left: 130px; width:188px; }

select#settings_google_plus_perso_request{ left: 375px; }
select#settings_google_plus_type{ left: 130px; }
#authenticated div.sf_admin_form #sf_fieldset_content span.google_plus_other_type input#settings_google_plus_other_type{ left: 375px; width:188px; }
.google_plus_other_type a{ position: absolute; top:10px; left: 590px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_title{ left: 130px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_url_image{ left: 130px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content textarea#settings_google_plus_description{ width:308px; resize:none; }
*/

#tabs-1 label, #tabs-2 label, #tabs-3 label{
  font-size: 13px;
  padding-top: 12px;
}

#authenticated div.sf_admin_form #tabs-1 select, #authenticated div.sf_admin_form #tabs-2 select, #authenticated div.sf_admin_form #tabs-3 select {
  margin-top: 1px;
}